In [3]:
## Packages used

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
## Load data
supply_chain = pd.read_csv("datasets/DataCoSupplyChainDataset.csv", encoding='latin1')
data_dict = pd.read_csv("datasets/DescriptionDataCoSupplyChain.csv", encoding='latin1')
logs = pd.read_csv("datasets/tokenized_access_logs.csv", encoding='latin1')
supply_chain.head(2)

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class

In [17]:
## Data Preprocessing and Cleaning

supply_chain.shape[0]

# Clean field names below

## Replace whitespace in column names and remove erroneous characters
supply_chain.columns = supply_chain.columns.str.replace('[ ]', "_", regex = True) 
supply_chain.columns = supply_chain.columns.str.replace('[()]', "", regex = True) 

## Make column names all lowercase
supply_chain.columns = supply_chain.columns.str.lower()

## Review how many nulls in data
nulls = supply_chain.isnull().sum().loc[lambda x : x>0].sort_values(ascending=False)
nulls

product_description    180519
order_zipcode          155679
customer_lname              8
customer_zipcode            3
dtype: int64

In [20]:
## Remove null columns
supply_chain.drop(columns = ['product_description', 'order_zipcode'], inplace=True)

,type,days_for_shipping_real,days_for_shipment_scheduled,benefit_per_order,sales_per_customer,delivery_status,late_delivery_risk,category_id,category_name,customer_city,...,order_state,order_status,product_card_id,product_category_id,product_image,product_name,product_price,product_status,shipping_date_dateorders,shipping_mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,Java Occidental,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,Rajastán,PENDING,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class